:root {
  --primaryColor: #162447;
  --secondaryColor: #1F4068;
}


.todo__list h5 {
  color: var(--primaryColor);
}

.todo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.dropdown {
  margin: 0 .75rem 0 -.25rem;
}